body{
    text-align:center;
    background-color: lime;
}
h1{
    font-size:40px;
    color:brown;
    margin-top:20px;
}
h2{
    font-size:25px;
    color:brown;
    margin-top:20px;
}
